@media only screen and (max-width: 415px) {
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .content-navbar,
  .content-navbar a {
    text-align: center;
    padding: 14px 14px 14px 14px !important;
    font-size: 13px;
  }
  .avatar img {
    margin-top: 25px !important;
    width: 150px !important;
    height: 150px !important;
  }
  .bg-img img {
    max-height: 410px !important;
  }
  .avatar {
    text-align: center;
    margin: 0px !important;
  }
  .name h1 {
    font-size: 20px;
  }
  .name p {
    font-size: 12px !important;
  }
  .name p span {
    display: block;
  }
  .fontawesome a,
  .fontawesome i {
    font-size: 20px !important;
  }
  .content3-center-h1 p {
    font-size: 12px;
  }
  .content3-center-h1 h1 {
    font-size: 24px;
  }
  .pembatas {
    margin-top: -120px !important ;
  }
}
